[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule ".tmux/plugins/tokyo-night-tmux"]
	path = .tmux/plugins/tokyo-night-tmux
	url = https://github.com/janoamaral/tokyo-night-tmux.git
[submodule ".tmux/plugins/vim-tmux-navigator"]
	path = .tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
